/** Reset some basic elements */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight { margin-bottom: 15px; }
ul, ol { margin-left: 30px; }
li > ul, li > ol { margin-bottom: 0; }
h1, h2, h3, h4, h5, h6 { font-weight: 300; }

/** Basic styling */
body { 
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: #111;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
}

/** Links */
a {
  color: #2a7ae2;
  text-decoration: none;
}
a:visited {
  color: #1756a9;
}
a:hover {
  color: #111;
  text-decoration: underline;
}

/** Header */
header {
  background: #3B3738;
  color: #fafafa;
  height: 50px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  width: 100%;
}

header a,
header a:visited {
  color: #95AB63;
  padding: 0 16px;
  letter-spacing: 1px;
  line-height: 50px;
  display: inline-block;
  height: 50px;
}

header a:hover{
  color: #BDD684;
  text-decoration: none;
}

.site-title{
  font-size:18px;
}

#nav {
  float: right;
  margin: 0;
}

#nav li{
  display: inline;
  margin: 0;
  position: relative;
}

#nav li:after{
  content: "|";
  margin: 0;
  color: #a9a9a9;
}

#nav li:last-child:after, #nav li#examples li:after{
  display:none;
}

#nav a{
  color: #aaa;
}

#nav a:hover{
  color: #BDD684;
}

#nav li#examples ul{
  display: none;
  position: absolute;
  top:30px;
  left:0;
  background: #3B3738;
  margin: 0;
}

#nav li#examples ul li{
  height: auto;
}

#nav li#examples:hover ul{
  display: inline;
}

.wrap {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/** Editor */
#editor textarea, #result{
  width: 49%;
  margin-top:20px;
  padding: 10px;
  box-sizing: border-box;
  display: inline-block;
  min-height: 300px;
  border: 1px solid #eee;
  vertical-align: top;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: #111;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
}
