/** Reset some basic elements */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight { margin-bottom: 15px; }
ul, ol { margin-left: 30px; }
li > ul, li > ol { margin-bottom: 0; }
h1, h2, h3, h4, h5, h6 { font-weight: 300; }

/** Basic styling */
body { 
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: #111;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
}

/** Links */
a {
  color: #2a7ae2;
  text-decoration: none;
}
a:visited {
  color: #1756a9;
}
a:hover {
  color: #111;
  text-decoration: underline;
}

/** Editor */
#source, #output {
  width: 49%;
  padding: 10px;
  box-sizing: border-box;
  display: inline-block
  min-height: 200px;
  border: 1px solid #eee;
  vertical-align: top;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: #111;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
}

#eval, #save {
  font-family: Helvetica, Arial, sans-serif;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: #111;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
  border: 1px solid #333;
  margin: 10px 0;
  cursor: pointer;
}
